.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: lime;
    position: fixed;
    height: 100%;
    overflow: auto;
}
a {
    color: black !important;
    font-weight: 600;
}
.sidebar a {
    display: block;
    padding-left: 8%;
    margin-top: 8%;
    font-size: 40px;
}
h1 {
    margin-left: 25%;
    padding: 1%;
    font-size: 4.5em !important;
    text-align: center;
    line-height: .97 !important;
    width: 60%;
}
.submit {
    margin-top: 4%;
}
.scam-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 25%;
    width: 75%;
}
.scam {
    flex: 1;
    max-width: 50%;
    font-size: 1.2em;
}
.scam input {
    width: 50%;
    padding: 1%;
    font-size: 1.2em;
}
.scam label {
    font-size: 1.2em;
}
.cash {
    flex: 1;
    max-width: 40%;
    height: auto;
}
.price {
    margin-left: 20%;
    margin-right: 20%;
    width: 80%;
}
.price button {
    margin: .2%;
    margin-bottom: 1%;
}
.p {
    padding-left: 18%;
}
p {
    text-indent: 5%;
    width: 90%;
    font-size: 1.4em;
}
body {
    background-color: saddlebrown !important;
    margin-left: 15%;
    font-weight: 600 !important;
    color: black !important;
}
.container {
    position: relative;
    flex: 1;
    display: inline-block;
    overflow: hidden;
    max-width: 30%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lime;
}

.container:hover .overlay {
    opacity: .5;
}

.text {
    font-size: 3em;
    text-align: center;
    position: absolute;
    line-height: 1.25;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.wrapper {
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20%;
    width: 75%;
    margin-bottom: 3%;
}
.link {
    font-size: 2em;
    margin-left: 30%;
}
/** {
    outline: 1px solid red;
}
